body {
    margin: 0;
    font-family: sans-serif;
    background-color: #FFF;
    color: #000;
}
.landing {
    padding: 15%;
    background-color: #8343f9;
}


.landing h1 {
    text-align: center;
    font-size: 45px;
    color: #fff;
}

.landing h2, .landing h3 {
    text-align: center;
    color: #fff;
}

.landing ul {
    list-style-type: none;
    margin: auto;
    text-align: center;
}

.landing li {
    display: inline-block;
}

.button {
    color: white;
    padding: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 14px;
    margin: auto;
    text-decoration: none;
}

.button:hover {
    background-color: #fff;
    color: #8343f9;
    transition: background-color 200ms ease-in;
}

.features {
    padding: 5% 10%;
}

.features ul {
    display: table;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
}


.features li {
    display: table-cell;
    width: 20%;
    padding: 16px;
}

.features img {
    display: block;
    width: 40px;
    margin: auto;
}

.features h3 {
    text-align: center;
    margin: 8px;
}

.plans {
    padding: 5%;
    background-color: #f6f5ff;
}
.plans h2 {
    text-align: center;
}

.plans > ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans ul > li {
    display: inline-block;
    height: auto;
    width: 300px;
    position: relative;
}


.plans h4 {
    display: inline;
    font-size: 24px;
    line-height: 24px;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 12px;
    padding: 2px 8px;
    background-color: #8343f9;
    color: white;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
}

.box {
    width: 90%;
    border-radius: 3px;
    position: relative;
    padding-top: 16px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin: 0;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 10px;
    background-color: white;
    padding-bottom: 16px;
}

.best {
    padding-top: 32px !important;
    height: 285px;
}

.box li {
    list-style-type: disc;
    display: list-item !important;
    width: auto !important;
    margin: 4px;
}

.box ul {
    margin: 8px;
    text-align: left;
    list-style-type: disc;
    margin-bottom: 16px;
    padding-left: 32px;
}

.box-button {
    width: 270px;
    margin: auto;
    background-color: #8343f9;
    color: #fff;
    padding: 16px 0;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
    border-bottom: 4px solid #6936C7;
    transition: all 200ms;
    bottom: 0;
    border-radius: 3px;
}

.box-button:hover {
    background-color: rgb(216, 37, 207);
    transform: translate(0, -5px);
    border-color: #A61C9F;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.testimonials {
    padding: 5%;
}

.testimonials ul {
    display: table;
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
}

.testimonials li {
    display: table-cell;
    width: 20%;
}

.testimonials h2 {
    text-align: center;
}

.testimonials .box {
    padding: 16px;
    width: 400px;
    font-size: 14px;
    text-align: left;
}
