a {
    text-decoration: none;
}

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0% 15%;
    z-index: 99;
    color: white;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    width: 70%;
    margin: 0;
    float: right;
}
.navbar a {
    text-decoration: none;
    font-family: 'Sacramento', cursive;
    line-height: 72px;
    font-size: 50px;
        color: white;

}
.navbar li {
    display: inline-block;
}

.navbar li a {
    padding: 16px 8px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 34px;
    line-height: 34px;
    display: inline-block;
        font-family:sans-serif;
    font-size: 16px;
}

.navbar #logo {
    height: 50px;
    float: left; 
    margin: 8px;
}



.navbar.scrolled {
    background-color: #fff;
    transition: background-color 200ms linear;
}

.navbar.scrolled a {
    color: #8343f9;
}
.navbar .icon, .navbar br {
  display: none;
}

@media only screen and (max-width: 768px) {
    
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
    .landing {
        margin-top: 72px;
    }
    .navbar {
        background-color: white;
                padding: 0%;    
        text-align: center;
    }
    #nav-logo {
        float:none;
        height: 50px;
    }
    .navbar li {
        color: #8343f9 !important;
        clear:left;
        display: block;
    }
    
    .navbar a {
        padding: 8px !important;
        color: #8343f9 !important;
        line-height: 25px;
    }
    
    span {
        display: none;
    }
    
  .navbar li:not(:nth-of-type(1)) {display: none;}
    .navbar #logo {
        float: none;
    }
    .navbar li {
        float: left;
        width: 100%;
        height: 34px;
        text-align: left;
    }
  .navbar .icon {
    float: left;
      clear: left;
    display: block !important;
  }
    .navbar ul {
        width: auto;
        float: left;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .navbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    .navbar.responsive {
        height: 120px;
    }
  .navbar.responsive li {
    float: none;
    display: list-item;
    text-align: left;
  }
}