body {
    margin: 0;
    font-family: sans-serif;
    background-color: #FFF;
    color: #000;
}

.navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0% 15%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    width: 70%;
    margin: 0;
    float: right;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    padding: 16px 8px;
    text-decoration: none;
    color: #8343f9;
    text-transform: uppercase;
    text-align: center;
    height: 34px;
    line-height: 34px;
    display: inline-block;
}

.navbar img {
    height: 50px;
    float: left; 
    margin: 8px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0%;
    }
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.landing {
    padding: 15%;
    background-color: #8343f9;
}

.landing h1 {
    text-align: center;
    font-size: 45px;
    color: #fff;
}

.landing ul {
    list-style-type: none;
    margin: auto;
    text-align: center;
}

.landing li {
    display: inline-block;
}

.button {
    color: white;
    padding: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 14px;
    margin: auto;
    text-decoration: none;
}

.button:hover {
    background-color: #fff;
    color: #8343f9;
    transition: background-color 200ms ease-in;
}

.features {
    padding: 5% 10%;
}

.features ul {
    display: table;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
}


.features li {
    display: table-cell;
    width: 20%;
    padding: 16px;
}

.features img {
    display: block;
    width: 40px;
    margin: auto;
}

.features h3 {
    text-align: center;
    margin: 8px;
}

.plans {
    padding: 5%;
    background-color: #fdfaff;
}
.plans h2 {
    text-align: center;
}

.plans ul {
    list-style-type: none;
    text-align: center;
}

.plans li {
    display: inline;
}

.plans h4 {
    display: inline;
    font-size: 24px;
    line-height: 24px;
}

.box {
    padding-top: 16px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin: 0;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    background-color: white;
}

.features.box {
    width: 250px;
}

.box ul {
    margin: 8px;
    text-align: left;
    list-style-type: disc;
    margin-bottom: 16px;
}

.box li {
    display: list-item;
}

.box-button {
    background-color: #8343f9;
    color: #fff;
    margin: 0;
    padding: 16px 0;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
    border-bottom: 4px solid #6936C7;
    transition: all 200ms;
}

.box-button:hover {
    background-color: rgb(216, 37, 207);
    transform: translate(0, -5px);
    border-color: #A61C9F;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.testimonials {
    padding: 5%;
}

.testimonials ul {
    display: table;
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
}

.testimonials li {
    display: table-cell;
    width: 20%;
}

.testimonials h2 {
    text-align: center;
}

.testimonials .box {
    padding: 16px;
    width: 400px;
    font-size: 14px;
    text-align: left;
}

.footer {
    background-color: #1a0932;
    padding: 16px;
}
.footer ul {
    list-style-type:none;
   
    min-width:490px;
 padding:0;
 margin:0;
}

.footer ul li  {
 display:inline-block;
   margin:10px;
}

.footer ul h4 {
    color: #fff;
    font-weight:500;
    margin-bottom:-15px;
}

.footer ul a {
    margin:auto;
    margin-left:20px;
    text-decoration: none;
    color: #9198C6;
}

#logo img 
{
  width:100px;
  margin-top:20px;
  padding:0;
}
#logo 
{
    padding:0;
}

.footer li a
{
    margin:0;
    transition:all .3s;
    cursor: pointer;
    
}

.footer li a:hover 
{
    color:rgb(165, 101, 207);
}