body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

.content {
    width: 60%;
    margin: auto;
    margin-top: 72px;
}

.navbar.scrolled {
    background-color: #8343f9 !important;
    transition: background-color 200ms linear;
}

.navbar.scrolled a {
    color: #fff !important;
}